* {
    margin: 0;
    font-family: 'Anek Latin', sans-serif;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100%;
   
}

.img-panel-background {
    width: 500px;
    height: 100%;
}

.img-panel-logo {
    position: absolute;
    height: 100px;
    width: 100px;
}

.form-section {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: 700px;
    height: 100%;
}

.description-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    height: 250px;
    width: 100%;
}

.description-panel > p {
    margin-left: 20px;
}

.form-panel {
    display: flex;
    align-items: center;
    position: absolute;
    background-color: white;
    height: 250px;
    width: 100%;
    box-shadow: 0px 5px 8px 3px rgba(0,0,0,0.66);
}

label {
    margin-top: 5px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

input:focus {
    border: 1px solid rgb(32, 178, 222) !important;
}

.form-left, .form-right {
    
    float: left;
}

.form-left {
    margin-left: 20px;
    margin-bottom: 42px;
}

.form-left > h3 {
    margin-bottom: 20px;
}

.form-right {
    margin-left: 40px;
}

.end-panel {
    display:flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
    background-color: white;
    margin-top: 140px;
    height: 250px;
    width: 100%;
}

.submit-button {
    background-color: #596D48;
    color: white;
    border-radius: 7px;
    margin-left: 20px;
    font-size: 16px;
    height: 50px;
    width: 150px;
}

.submit-button:hover {
    background-color: #4b5c3c;
}

.end-panel > p {
    margin-top: 10px;
    margin-left: 20px;
}

.log-in {
    color:#596D48;
}

.log-in:hover {
    color:#4b5c3c;
}