* {
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: nowrap;
}

.img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100%;
   
}

.img-panel-background {
    width: 500px;
    height: 100%;
}

.img-panel-logo {
    position: absolute;
    height: 100px;
    width: 100px;
}

.form-section {
    display: flex;
    flex-direction: column;
    background-color: blanchedalmond;
    width: 700px;
    height: 100%;
}

.description-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    height: 250px;
    width: 100%;
}

.description-panel > p {
    margin-left: 20px;
}

.form-panel {
    background-color:blanchedalmond;
    height: 250px;
    width: 100%;
}

.end-panel {
    background-color:brown;
    height: 250px;
    width: 100%;
}